{% extends '../../layout.html' %}
{% block content %}
    <h4>Listado de Tipos de Sitio</h4>
    <a href="{% url 'tipoSitio_create' %}" class="btn btn-dark">Añadir</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ object.nombre }}</td>
                <td>
                    <div style="display: flex;flex: auto; flex-direction: row; width: 50%;">
                        <a class="btn btn-warning" href="{% url 'tipoSitio_update' object.id %}"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger" href="{% url 'tipoSitio_delete' object.id %}"><i class="bi bi-trash"></i></a>
                        <a class="btn btn-info" href="{% url 'tipoSitio_details' object.id %}"><i class="bi bi-eye"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}