{% extends './layout.html' %}
{% block content %}
    <div style="margin: 0 auto; width: 80%">
        <h5>
            Bienvenido
        </h5><br>
        <h6>
            Sitios de Interés Turístico le brinda un listado de lugares interesantes que usted debe visitar.
        </h6>
        <p>
            Proyecto realizado en Python usando el framework Django y la arquitectura MVT (Modelo Vista Template).<br>
            Consta de 3 entidades relacionadas:
        </p>
        <div>
            <ul>
                <li>
                    <a class="nav-link active" aria-current="page" href="/tipos/">Tipos de sitio</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/provincias/">Provincias</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/sitios/">Sitios de interés turístico</a>
                    Muestra información del tipo de sitio y la provincia donde se encuentra.
                </li>
            </ul>
        </div>
        <p>
            Además se hace uso de la arquitectura Django REST Framework para devolver recursos mediante una estructura JSON.
        </p>
        <div>
            <ul>
                <li>
                    <a class="nav-link active" aria-current="page" href="/api/">API del sitio</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}