{% extends '../../layout.html' %}
{% block content %}
    <h4>Listado de Sitios</h4>
    <a href="{% url 'sitio_create' %}" class="btn btn-dark">Añadir</a>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for object in objects %}
            <div class="card" style="width: 18rem; padding: 25px">
                {% if object.foto %}
                <img src="{{ object.foto.url }}">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ object.nombre }}</h5>
                    <p class="card-text">{{ object.tipo }}</p>
                    {% if object.disponible %}
                    <p class="card-text">Disponible</p>
                    {% else %}
                    <p class="card-text">Cerrado</p>
                    {% endif %}
                    <div>
                        <a class="btn btn-warning" href="{% url 'sitio_update' object.id %}" ><i
                                class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger" href="{% url 'sitio_delete' object.id %}"><i
                                class="bi bi-trash"></i></a>
                        <a class="btn btn-info" href="{% url 'sitio_details' object.id %}"><i
                                class="bi bi-eye"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}